.movie__wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.movie__container {
  display: inline-flex;
  margin-top: 25px;
}

.movie__img {
  margin-bottom: 15px;
  width: 320px;
  border-radius: 5px;
}

.movie__content {
  padding: 0 30px;
}

.content__title {
  font-size: 26px;
  font-weight: 700;
}

.content__text {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 18px;
  text-align: justify;
}

.content__genres {
  margin-top: 10px;
  font-size: 18px;
}

.sec__title {
  font-size: 20px;
}
